@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@keyframes up-down {
    0% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
    100% {transform: translateY(0);}  
}

@font-face {
    font-family: Ferrum;
    src: url(fonts/Ferrum-wy99.otf) format("opentype"); 
  }

:root {
    --background-color: #202022;
    --main-container-color: #3b3d42ec;
    --text-color: #ffffff;
    --colored-text-color: rgb(7, 182, 130);
    --colored-shadow: rgb(165, 31, 255);
    --standarised-shadow: drop-shadow(0px 0px 5px var(--colored-shadow)); 
}

* {
    display: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

a {
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    width: 100%;
    margin: auto;
    /*background: #333;*/
    /*background: linear-gradient(to right,#0ff1c0, #a9fff1, #cdd6e2, #ffffff);*/
    /*border: 1px ridge rgb(165, 31, 255, 0.2);*/
    color: var(--text-color);
    padding: 20px 0;
    border-bottom: 2px solid; border-image: linear-gradient(90deg, rgba(0, 0, 255, 0), rgba(1, 255, 255, 0.895), rgba(0, 0, 255, 0)); 
    border-image-slice: 1;
}

.nav-buttons-only {
    text-align: right;
    margin-right: 2px;
}
.nav-element {
    margin-left: auto;
    color: var(--text-color);
    padding: 10px 15px 10px 15px;
    border: 2px solid; border-image: linear-gradient(to bottom, rgba(1, 255, 255, 0.895), rgba(0, 0, 255, 0)); 
    border-image-slice: 1;
}

.active, .collapsible:hover {
    background-color: #ccc;
  }

.collapse-triggered-div {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.collapsible {
    cursor: pointer;
}

header {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}

.hiya-message-container {
    display: flex;
    align-items: center;
    margin: 0px 25px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--colored-text-color);
    
    /*filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.712));*/
}

.hiya-message-container p {
    margin: 0 20px 0 20px;
}

.hiya-message-container h1 {
    color: white;
    font-family: "Ferrum", Arial, Helvetica, sans-serif;
    font-size: 46px;
    margin: 0 auto 5px 0;
    filter: drop-shadow(0px 0px 5px rgb(7, 182, 130, 1) );
}

main {
    display: content-box;
    background-color: #655a663a;
    max-width: 100%;
    margin: 20px auto;
    padding: 0 20px;
    
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.712));
}

.main-container {
    display: flex;
    /*justify-content: space-evenly;*/
}

.desc-text {
    font-size: 28px;
    min-width: 350px;
    animation: up-down 8s infinite; 
}

button {
    all: initial;
    font-family: inherit; 
    font-size: 100%;
    vertical-align: baseline;/* resetuje wyrównanie */
    border: none;
}

.ideas-container {
    padding: 50px 0 10px 0;
    margin: 0 0 0 0;

    width: 100%;
    text-align: center;
}

.ideas-container ol {
    border: 3px dashed #ff02ff5e;
}


footer {
    /*background: var(--main-container-color);
    background: url(graphics/mountains-big.jpg); */
    border: 2px solid; border-image: linear-gradient(to bottom, rgba(1, 255, 255, 0.895), rgba(0, 0, 255, 0)); 
        border-image-slice: 1;
    text-align: center;
    padding: 10px 0;
    margin: auto;
}

footer p {
    margin: 0;
}

#mascot-container {
    padding: 0 0 0 30px;
    margin: auto;
    height: 200px;

}

#mascot-container img {
    max-height: 150%;
    height: auto;
    filter: drop-shadow(0px 0px 5px #4e1b91); 
    transition: filter 0.5s ease-in-out;
    animation: up-down 8s infinite;
}

#mascot-container img:hover {
    filter: drop-shadow(0px 0px 5px var(--colored-shadow));
}



