@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    display: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

a {
    color: rgb(44, 5, 36);
}

body {
    background-color: #ffffff;
    color: rgb(44, 5, 36);
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    width: 70%;
    margin: auto;
    /*background: #333;*/
    /*background: linear-gradient(to right,#0ff1c0, #a9fff1, #cdd6e2, #ffffff);*/
    /*border: 1px ridge rgb(165, 31, 255, 0.2);*/
    color: #fff;
    padding: 20px 0;
    
}

.nav-buttons-only {
    margin-right: 2px;
}
.nav-element {
    margin-left: auto;
    color: white;
    background-color: rgb(7, 182, 130);
    padding: 10px 5px 10px 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hiya-message-container {
    display: flex;
    align-items: center;
    margin: 0px 25px 0px 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(7, 182, 130);
    /*filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.712));*/
}

.hiya-message-container p {
    margin: 0 20px 0 20px;
}

.hiya-message-container h1 {
    margin: 0 auto 5px 0;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 0 30px;
    /*filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.712));*/
    background-color: rgba(240, 221, 240, 0.251);
    
}

.main-container {
    display: flex;
    justify-content: space-evenly;
}

.ideas-container {
    padding-top: 50px;
    
    text-align: center;
}
.ideas-container ol {
    border: 3px dashed rgb(165, 31, 255);
}


footer {
    background: #f7f7f7;
    border-radius: 2%;
    text-align: center;
    padding: 10px 0;
    margin: auto;
}

footer p {
    margin: 0;
}

.desc-text {
    min-width: 350px;
}

.mascot-container {
    padding: 0 0 0 30px;
    margin: auto;
    height: 200px;
}
.mascot-container img {
    max-height: 100%;
    height: auto;
    filter: drop-shadow(0px 0px 5px rgb(159, 1, 173));
}

