@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --background-color: #202022;
    --main-container-color: #3b3d42ec;
    --text-color: #ffffff;
    --colored-text-color: rgb(7, 182, 130);
    --colored-shadow: rgb(165, 31, 255);
    --standarised-shadow: drop-shadow(0px 0px 5px var(--colored-shadow)); 
    --faded-border: border: 1px solid; border-image: linear-gradient(to bottom, rgba(1, 255, 255, 0.295), rgba(0, 0, 255, 0)); ;
}

* {
    display: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

a {
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    width: 70%;
    margin: auto;
    /*background: #333;*/
    /*background: linear-gradient(to right,#0ff1c0, #a9fff1, #cdd6e2, #ffffff);*/
    /*border: 1px ridge rgb(165, 31, 255, 0.2);*/
    color: var(--text-color);
    padding: 20px 0;
    
}

.nav-buttons-only {
    margin-right: 2px;
}
.nav-element {
    margin-left: auto;
    color: var(--text-color);
    padding: 10px 15px 10px 15px;
    border: 1px solid; border-image: linear-gradient(to bottom, rgba(1, 255, 255, 0.295), rgba(0, 0, 255, 0)); 
    border-image-slice: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hiya-message-container {
    display: flex;
    align-items: center;
    margin: 0px 25px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--colored-text-color);
    /*filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.712));*/
}

.hiya-message-container p {
    margin: 0 20px 0 20px;
}

.hiya-message-container h1 {
    margin: 0 auto 5px 0;
    filter:brightness(1.5);
    filter: drop-shadow(0px 0px 5px rgb(7, 182, 130, 0.5) );
}

main {
    width: 100%;
    margin: 20px auto;
    padding: 0 30px;
    /*filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.712));*/
    
    
}

.main-container {
    display: flex;
    justify-content: space-evenly;
}

.ideas-container {
    padding-top: 50px;
    
    text-align: center;
}
.ideas-container ol {
    border: 3px dashed var(--colored-shadow);
}


footer {
    /*background: var(--main-container-color);
    background: url(graphics/mountains-big.jpg); */
    border: 1px solid; border-image: linear-gradient(to top, rgba(1, 255, 255, 0.295), rgba(0, 0, 255, 0)); 
        border-image-slice: 1;
    text-align: center;
    padding: 10px 0;
    margin: auto;
}

footer p {
    margin: 0;
}

.desc-text {
    min-width: 350px;
}

.mascot-container {
    padding: 0 0 0 30px;
    margin: auto;
    height: 200px;
}
.mascot-container img {
    max-height: 100%;
    height: auto;
    filter: drop-shadow(0px 0px 5px var(--colored-shadow));
}

