

.RPSgame-screen {
    position: fixed;
    margin: auto;
    width: 450px;
    height: 450px;
    background-color: #d1171733;
    margin: auto;
    margin-top: 5x;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}

#RPS-button1 {
    margin: auto;
}


#RPS-take-me-backBTN {
    position: fixed;
    bottom: 0;
    right: 0;
}
