

.RPSgame-screen {
    position: absolute;
    margin: auto;
    width: 450px;
    background-color: #ffffff77;
    border-radius: 1%;
    filter: drop-shadow(1px 1px gray);
    margin: auto;
    margin-top: 5x;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 6;
}

#RPS-button1, .RPS-any-button {
    margin: auto;
    z-index: 6;
    color: red;
    background-color: #ffffff;
    filter: drop-shadow(1px 1px red);
    margin: 5px 0 5px 0;
    /*border: 2px solid; border-image: linear-gradient(to bottom, rgba(1, 255, 255, 0.895), rgba(0, 0, 255, 0)); */
    border-image-slice: 1;
}

#RPS-button1:hover, .RPS-any-button {
    color: purple;
}


#RPS-take-me-backBTN {
    position: fixed;
    bottom: -100px;
    right: 0;
    z-index: 4;
    background-color: #ffffff;
    filter: drop-shadow(1px 1px red);
}

#RPS-character-box {
    width: 450px;
    min-height: 150px;
    max-height: 150px;
    margin: 5px auto 15px auto;
    transition: 1s;
    background-color: yellow;
}

.RPS-image {
    max-height: 150px;
    min-width: 100%;
    margin: auto;
    transition: 1s;
    background-color: yellow;
    box-shadow: 3px 3px 0px #ffd000, -3px -3px 0px #000000;
}

#RPS-RPSbuttons-3ofthem, #RPSPlaceholder1 {
    height: 25px;
    display: none;
    
}

.WiPWarning {
    position: fixed;
    background-color: #ffffff;
    color: red;
    top: 0;
    left: 0;
}

.RPS-textBox {
    margin: 5px auto 5px auto; 
}

#RPS-textBox3 { 
    /*header*/
    font-weight: 700;
    margin: 5px 0 5px 0;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: purple;
}

.RPS-multi-elements-horizontal {
    width: 100%;
    min-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.RPS-multi-elements-horizontal div{
    background-color: rgba(255, 255, 255, 0);
    margin: 5px 0 5px 0;
    min-width: 80px;
    max-height: 100%;
    flex-grow: 1;
    flex-basis: 80px;
    text-align: center;
    vertical-align: middle;
}

.RPS-multi-elements-horizontal img {
    background-color: rgba(255, 255, 255, 0);
    margin: 5px 0 5px 0;
    min-width: 80px;
    max-height: 100%;
    flex-basis: 80px;
    flex-grow: 1
}
